.container-todo {
    display: flex;
    justify-content: center;
    width: 100%;

    .background-img {
        width: 100%;
        height: 300px;
        background: url("../../images/bg-desktop-dark.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .background-img-mobile_light {
        display: none;
    }

    .container {
        position: absolute;
        width: 50%;
        top: 15%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .todo-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .moon {
                font-size: 20px;
                color: $Very_Light_Gray;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 670px){
    .container-todo {
        .container {
            width: 80%;
        }
    }
}
@media screen and (max-width: 370px) {
    .container-todo {
        .background-img {
            display: none;
        }

        .background-img-mobile {
            width: 100%;
            height: 200px;
            background: url("../../images/bg-mobile-dark.jpg");
        }

        .container {
            top: 7%;
        }
    }
}