.container-filter {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: $Very_Dark_Desaturated_Blue;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: 1px solid $Dark_Grayish_Blue;
    color: $Dark_Grayish_Blue;
    margin-bottom: 80px;

    button {
        cursor: pointer;
        outline: none;
        border: none;
        margin: 0 6px;
        background-color: $Very_Dark_Desaturated_Blue;
        color: $Dark_Grayish_Blue;

        // &:focus {
        //     color: $Bright_Blue;
        // }
        

        &:hover {
            color: $Very_Light_Gray;
        }
    }
    button.active {
        color: $Bright_Blue;
    }
}

@media screen and (max-width: 730px) {
    .container-filter {
        position: relative;

        .container-filter-btn {
            display: flex;
            position: absolute;
            left: 0;
            bottom: -62px;
            width: 100%;
            justify-content: center;
            padding: 12px;
            background-color: $Very_Dark_Desaturated_Blue;
            border-radius: 7px;

            button {
                margin: 0 17px;
            }
        }
    }
}