input[type="checkbox"] {
    display: block;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 15px;
    height: 25px;
    width: 25px;
    border-radius: 20px;
    border: 1px solid $Dark_Grayish_Blue;
}

input[type="checkbox"]:hover {
    border: 1px solid #c357f5;
}

input[type="checkbox"]:before {
    display: inline-block;
    content: "\2714";
    color: transparent;
    font-size: 14px;
}

input[type="checkbox"]:checked::before {
    position: absolute;
    top: -1px;
    left: -1px;
    content: "\2714";
    color: $Very_Light_Gray;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    height: 24px;
    width: 18px;
    border-radius: 20px;
    padding-left: 8px;
    padding-top: 2px;
}