.container-todo.light {
    .background-img {
        background: url("../../images/bg-desktop-light.jpg");
    }

    .container-todo-input .todo-input {
        border: none;
        background-color: $Very_Light_Gray;
        color: $Very_Dark_Grayish_Blue;
    }

    .no-todo {
        background-color: $Very_Light_Gray;
        color: $Very_Dark_Grayish_Blue;
    }

    .todolist {
        background-color: $Very_Light_Gray;
        color: $Very_Dark_Grayish_Blue;
        border-top: 1px solid $Dark_Grayish_Blue;

        button {
            background-color: $Very_Light_Gray;
        }
    }

    .container-filter {
        background-color: $Very_Light_Gray;

        .container-filter-btn {
            background-color: $Very_Light_Gray;
            button {
                background-color: $Very_Light_Gray;
                color: $Dark_Grayish_Blue;
    
                &:focus {
                    color: $Bright_Blue;
                }
                &:hover {
                    color: $Very_Dark_Grayish_Blue;
                }
            }
        }

        button {
            background-color: $Very_Light_Gray;
            color: $Dark_Grayish_Blue;
        }
    }
}



@media screen and (max-width: 370px) {
    .container-todo.light {
        .background-img-mobile {
            width: 100%;
            height: 200px;
            background: url("../../images/bg-mobile-light.jpg");
        }
    }
}