.container-todo-input {
    margin: 25px 0 18px;
    width: 100%;

    .todo-input {
        width: 100%;
        padding: 14px;
        text-indent: 40px;
        background-color: $Very_Dark_Desaturated_Blue;
        color: $Very_Light_Gray;
        border: 1px solid $Very_Dark_Desaturated_Blue;
        border-radius: 7px;
        outline: none;
    }
}

.no-todo {
    padding: 12px;
    background-color: $Very_Dark_Desaturated_Blue;
    color: $Very_Light_Gray;
    text-align: center;
}

.todolist {
    display: flex;
    justify-content: space-between;
    outline: none;
    padding: 12px;
    background-color: $Very_Dark_Desaturated_Blue;
    color: $Very_Light_Gray;

    &:not(:first-child){
        border-top: 1px solid $Dark_Grayish_Blue;
    }
    &:first-child {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    label {
        display: flex;
        align-items: center;

        p {
            cursor: pointer;
        }
    }

    button {
        cursor: pointer;
        border: none;
        color: $Dark_Grayish_Blue;
        background-color: $Very_Dark_Desaturated_Blue;
    }
}
.checked {
    text-decoration-line: line-through;
    color: $Dark_Grayish_Blue;
}